<!DOCTYPE html>
<html>
  <head>
    <title>calcutor</title>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="../static/calc.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/style.css"></link>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="calcutor">
      <div id="screen">
        <p class="input"></p>
        <p class="output"></p>
      </div>
      <div id="buttons">
        <div id="top-row">
          <button class="blue" type="button" id="y_equals">Y=</button>
          <button class="blue" type="button" id="window">WINDOW</button>
          <button class="blue" type="button" id="zoom">ZOOM</button>
          <button class="blue" type="button" id="trace">TRACE</button>
          <button class="blue" type="button" id="graph">GRAPH</button>
        </div>
      </br>
      <button class="green" type="button" id="alpha">ALPHA</button>
      <button class="black" type="button" id="xton">X,T,&empty;,<i>n</i></button>
      <button class="black" type="button" id="stat">STAT</button>
      </br>
      <button class="black" type="button" id="math">MATH</button>
      <button class="black" type="button" id="variables">VARS</button>
      <button class="blue" type="button" id="apps">APPS</button>
      <button class="black" type="button" id="program">PRGM</button>
      <button class="black" type="button" id="clear">CLEAR</button>
      </br>
      <button class="black" type="button" id="neg_exp">x<sup>-1</sup></button>
      <button class="black" type="button" id="sin">SIN</button>
      <button class="black" type="button" id="cos">COS</button>
      <button class="black" type="button" id="tan">TAN</button>
      <button class="operator black" type="button" id="^">&and;</button>
      </br>
      <button class="operator black" type="button" id=&#178>x<sup>2</sup></button>
      <button class="black" type="button" id="comma">,</button>
      <button class="operator black" type="button" id="(">(</button>
      <button class="operator black" type="button" id=")">)</button>
      <button class="operator blue" type="button" id="/">&#247;</button>
      </br>
      <button class="black" type="button" id="log">LOG</button>
      <button class="num white" type="button" id="7">7</button>
      <button class="num white" type="button" id="8">8</button>
      <button class="num white" type="button" id="9">9</button>
      <button class="operator blue" type="button" id="*">*</button>
      </br>
      <button class="black" type="button" id="ln">LN</button>
      <button class="num white" type="button" id="4">4</button>
      <button class="num white" type="button" id="5">5</button>
      <button class="num white" type="button" id="6">6</button>
      <button class="operator blue" type="button" id="-">-</button>
      </br>
      <button class="black" type="button" id="storage">STO-></button>
      <button class="num white" type="button" id="1">1</button>
      <button class="num white" type="button" id="2">2</button>
      <button class="num white" type="button" id="3">3</button>
      <button class="operator blue" type="button" id="+">+</button>
      </br>
      <button class="num white" type="button" id="0">0</button>
      <button class="num white" type="button" id=".">.</button>
      <button class="operator white" type="button" id=&#713>(-)</button>
      <button class="blue" type="button" id="ENTER">ENTER</button>
      </br>
    </div>
  </body>
</html>