<!DOCTYPE html>
<html>
  <head>
    <title>calcutor</title>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="../static/calc.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/style.css"></link>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="calcutor">
      <div id="screen">
        <p class="input"></p>
        <p class="output"></p>
      </div>
      <div id="buttons">
        <div class="submenues">
          <div class="yellow">STATPLOT <div class="green">F1</div></div>
          <div class="yellow">TBLSET <div class="green">F2</div></div>
          <div class="yellow">FORMAT <div class="green">F3</div></div>
          <div class="yellow">CALC <div class="green">F4</div></div>
          <div class="yellow">TABLE <div class="green">F5</div></div>
        </div>
        <div id="top-row">
        <button class="blue-button" type="button" id="y_equals">Y=</button>
        <button class="blue-button" type="button" id="window">WINDOW</button>
        <button class="blue-button" type="button" id="zoom">ZOOM</button>
        <button class="blue-button" type="button" id="trace">TRACE</button>
        <button class="blue-button" type="button" id="graph">GRAPH</button>
        </div>
        </br>
        <div class="submenues">
          <div class="yellow"></div>
          <div class="yellow">QUIT</div>
          <div class="yellow">INS</div>
          <div class="yellow">&#9728; <div class="green">&#8607;</div></div>
          <div class="yellow"></div>
        </div>
        <button class="yellow-button" type="button" id="second">2nd</button>
        <button class="black-button" type="button" id="mode">MODE</button>
        <button class="black-button" type="button" id="delete">DEL</button>
        <button class="blue-button" type="button" id="up">&#9650;</button>
        <button class="blue-button" type="button" id="right">&#9658;</button>
        </br>
        <div class="submenues">
          <div class="yellow">A-LOCK</div>
          <div class="yellow">LINK</div>
          <div class="yellow">LIST</div>
          <div class="yellow">&#9728; <div class="green">&#8609;</div></div>
          <div class="yellow"></div>
        </div>
        <button class="green-button" type="button" id="alpha">ALPHA</button>
        <button class="black-button" type="button" id="xton">X,T,&empty;,<i>n</i></button>
        <button class="black-button" type="button" id="stat">STAT</button>
        <button class="blue-button" type="button" id="down">&#9660;</button>
        <button class="blue-button" type="button" id="left">&#9668;</button>
        </br>
        <div class="submenues">
          <div class="yellow">TEST <div class="green">A</div></div>
          <div class="yellow">ANGLE <div class="green">B</div></div>
          <div class="yellow">DRAW <div class="green">C</div></div>
          <div class="yellow">DISTR</div>
          <div class="yellow"></div>
        </div>
        <button class="black-button" type="button" id="math">MATH</button>
        <button class="black-button" type="button" id="variables">VARS</button>
        <button class="blue-button" type="button" id="apps">APPS</button>
        <button class="black-button" type="button" id="program">PRGM</button>
        <button class="black-button" type="button" id="clear">CLEAR</button>
        </br>
        <div class="submenues">
          <div class="yellow">MATRIX <div class="green">D</div></div>
          <div class="yellow">SIN<sup>-1</sup> <div class="green">E</div></div>
          <div class="yellow">COS<sup>-1</sup> <div class="green">F</div></div>
          <div class="yellow">TAN<sup>-1</sup> <div class="green">G</div></div>
          <div class="yellow">&pi; <div class="green">H</div></div>
        </div>
        <button class="operator black-button" type="button" id="^-1">x<sup>-1</sup></button>
        <button class="operator black-button" type="button" id="sin(">SIN</button>
        <button class="operator black-button" type="button" id="cos(">COS</button>
        <button class="operator black-button" type="button" id="tan(">TAN</button>
        <button class="operator black-button" type="button" id="^">&and;</button>
        </br>
        <div class="submenues">
          <div class="yellow">&radic; <div class="green">I</div></div>
          <div class="yellow">EE <div class="green">J</div></div>
          <div class="yellow">{ <div class="green">K</div></div>
          <div class="yellow">} <div class="green">L</div></div>
          <div class="yellow">e <div class="green">M</div></div>
        </div>
        <button class="operator black-button" type="button" id=&#178>x<sup>2</sup></button>
        <button class="operator black-button" type="button" id=",">,</button>
        <button class="operator black-button" type="button" id="(">(</button>
        <button class="operator black-button" type="button" id=")">)</button>
        <button class="operator blue-button" type="button" id="/">&#247;</button>
        </br>
        <div class="submenues">
          <div class="yellow">10<sup>x</sup> <div class="green">N</div></div>
          <div class="yellow">u <div class="green">O</div></div>
          <div class="yellow">v <div class="green">P</div></div>
          <div class="yellow">w <div class="green">Q</div></div>
          <div class="yellow">[ <div class="green">R</div></div>
        </div>
        <button class="black-button" type="button" id="log(">LOG</button>
        <button class="num white-button" type="button" id="7">7</button>
        <button class="num white-button" type="button" id="8">8</button>
        <button class="num white-button" type="button" id="9">9</button>
        <button class="operator blue-button" type="button" id="*">*</button>
        </br>
        <div class="submenues">
          <div class="yellow">e<sup>x</sup> <div class="green">S</div></div>
          <div class="yellow">L4 <div class="green">T</div></div>
          <div class="yellow">L5 <div class="green">U</div></div>
          <div class="yellow">L6 <div class="green">V</div></div>
          <div class="yellow">] <div class="green">W</div></div>
        </div>
        <button class="black-button" type="button" id="ln(">LN</button>
        <button class="num white-button" type="button" id="4">4</button>
        <button class="num white-button" type="button" id="5">5</button>
        <button class="num white-button" type="button" id="6">6</button>
        <button class="operator blue-button" type="button" id="-">-</button>
        </br>
        <div class="submenues">
          <div class="yellow">RCL <div class="green">X</div></div>
          <div class="yellow">L1 <div class="green">Y</div></div>
          <div class="yellow">L2 <div class="green">Z</div></div>
          <div class="yellow">L3 <div class="green">&empty;</div></div>
          <div class="yellow">L4 <div class="green">"</div></div>
        </div>
        <button class="black-button" type="button" id="storage">STO-></button>
        <button class="num white-button" type="button" id="1">1</button>
        <button class="num white-button" type="button" id="2">2</button>
        <button class="num white-button" type="button" id="3">3</button>
        <button class="operator blue-button" type="button" id="+">+</button>
        </br>
        <div class="submenues">
          <div class="yellow"></div>
          <div class="yellow">CATALOG <div class="green">&blank;</div></div>
          <div class="yellow"><i>i</i> <div class="green">:</div></div>
          <div class="yellow">ANS <div class="green">?</div></div>
          <div class="yellow">ENTRY <div class="green">SLVE</div></div>
        </div>
        <button class="num black-button" type="button" id="NO ONE EXPECTS THE SPANISH INQUISITION!">:)</button>
        <button class="num white-button" type="button" id="0">0</button>
        <button class="num white-button" type="button" id=".">.</button>
        <button class="num white-button" type="button" id=&#713>(-)</button>
        <button class="blue-button" type="button" id="ENTER">ENTER</button>
        </br>
      </div>
      </br>
    </div>
  </body>
</html>