<div id="instructionswrapper">
  <p>Keyboard Guide <button type="button" id="guide">Show/Hide</button></p>
  <div id="instructionscontent" class="hide">
    <p>Capital letters, numbers, and most symbols appear as they would on your keyboard.</p>
    <p>"x": X</p>
    <p>"Esc": clear</p>
    <p>"y": Y= menu</p>
    <p>"g": Graph screen</p>
    <p>"n": negative</p>
    <p>"s": sin</p>
    <p>"c": cos</p>
    <p>"t": tan</p>
    <p>"e": e</p>
    <p>"p": pi</p>
  </div>
</div>