#screen {
    overflow-y: hidden;
    overflow-x: hidden;
    width: 23em;
    height: 12em;
    border: 2px solid;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    background-color: #7F9A65;
    font-family: 'Droid Sans Mono';
    box-shadow: inset 0 0 10px black;
    padding: 1em;
    padding-bottom: 2em;
    background: linear-gradient(to bottom, rgba(127,154,101,0.7) 0%,rgba(127,154,101,0.7) 100%), url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Icon_robot.svg/1280px-Icon_robot.svg.png) repeat 0 0;
    background-size: 100%;
}

#screen .input, #screen .y_func {
    width: 100%;
    margin: 1px;
    float: left;
    font-size: 1em;
}
#screen .input ins, #screen .y_func ins {
    text-decoration: none;
    white-space: pre;
    float: left;
}

#screen .output {
    height: 1em;
    margin: 1px;
    float: right;
    font-size: 1em;
}

#buttons button {
    display: inline-block;
    width: 5em;
    height: 2.5em;
    font: 1em;
    margin: 0.3em;
    margin-top: 0em;
    margin-bottom: 0em;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    border: 1px solid black;
    box-shadow: 0 0 3px black;
}

#top-row button {
    height: 2em;
    margin-top: 0em;
}

#buttons {
    padding-left: 0.6em;
}

#calcutor {
    margin-right: auto;
    margin-left: auto;
    width: 25em;
    border: 2px solid black;
    padding: 1em;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    background-color: #3D352A;
    box-shadow: 5px 5px 20px black;
    margin-top: 1em;
    margin-bottom: 1em;
}

.blue-button {
    background-color: #3B4990;
    color: white;
}

.yellow-button {
    background-color: #FFD700;
}

.yellow {
    color: #FFD700;
}

.green-button {
    background-color: #37BC61;
}

.green {
    color: #37BC61;
    display: inline-block;
    float: right;
}

.black-button {
    background-color: black;
    color: white;
}

.white-button {
    background-color: #C2C2C2;
}

.secondary_options {
    font-family: sans-serif;
    margin-bottom: 0em;
    margin-top: 0.1em;
}

.yellow {
    display: inline-block;
    font-size: 0.6em;
    width: 6.5em;
    height: 1em;
    text-align: left;
    padding-left: 0.7em;
    padding-right: 0.5em;
}

.hide, #buttons .second, #buttons .alpha {
    display: none;
}

.menu ul {
    list-style-type: none;
    display: inline;
}

.menu ul li {
    display: inline;
}

.menu p {
    margin: 0;
}

@-moz-document url-prefix() {
    #calcutor {
        width: 30em;
    }

    #screen {
        width: 27em;
    }

    .yellow {
        width: 7.5em;
        padding-right: 0.2em;
    }
}